<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <br>
    <div class="container is-max-desktop">
        <h1 class="title is-1">Dashboard</h1>
        <hr>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Monthly Net
                </p>
                <button class="card-header-icon" aria-label="more options">
                      <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                </button>
            </header>

            <div class="card-content">
                <div class="content">
                    <h1 class="subtitle is-1"><% if(net>0){ %> <span><i class="fa-solid fa-arrow-up animate__animated animate__shakeY animate__delay-2s animate__slower" style="color: #00c4a7"></i></span> <% } else { %> <span><i class="fa-solid fa-arrow-down" style="color: red"></i></span>  <% } %>&nbsp;&nbsp; $<%- net %></h1>
                </div>
            </div>
        </div>
        <br>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Debits (Money Out)
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="subtitle is-1">$<%- debit_total %></h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Credit (Money In)
                        </p>
                        <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="subtitle is-1">$<%- credit_total %></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="title is-3">Largest Transactions in <span id="month"></span></h3>
        <div class="largest-transactions">
            <div class="transaction">
                <% if(transactions.length > 8){ %>
                    <% for(let i=0; i<9; i++){ %>

                        <h4 class="subtitle is-4"><a href="/transactions/<%- transactions[i].id %>"><b><%- i+1 %>.  <%- transactions[i].description %></b></a> : <% if(transactions[i].transaction_type == "credit"){ %> <i style="color: #00c4a7" class="fa-solid fa-arrow-up"></i> <% } else { %> <i style="color: red" class="fa-solid fa-arrow-down"></i> <% }  %>
                            $<%- transactions[i].amount %></h4>
                    <% } %>
                <% } else { %>
                        <% for(let i=0; i<=transactions.length-1; i++){ %>
                            <h4 class="subtitle is-4"><a href="/transactions/<%- transactions[i].id %>"><b><%- i+1 %>.  <%- transactions[i].description %></b></a> : <% if(transactions[i].transaction_type == "credit"){ %> <i style="color: #00c4a7" class="fa-solid fa-arrow-up"></i> <% } else { %> <i style="color: red" class="fa-solid fa-arrow-down"></i> <% }  %>
                                $<%- transactions[i].amount %></h4>
                        <% } %>
                    <% } %>
            </div>
        </div>
        <br>
        <a class="button is-fullwidth is-primary" href="/transactions">View More Transactions</a>

    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

<script>
    const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];

    const d = new Date();
    let name = month[d.getMonth()];

    document.getElementById("month").innerHTML = name;
</script>
</body>
</html>
